<!DOCTYPE html>
<html lang="en" lang="en">
    <header>
        <header>
            <link rel="stylesheet" href="/css/main.css">
            <script src="/js/client.js"></script>
        </header>
    </header>
    <body>
        <h3><a href="https://github.com/swifty94">Created by @swifty94</a></h3>
        <br/>
        <img src="/img/readme.png" width="1430" height="655">
        <br />
        <br />
    </body>
</html>